<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'future_age' %}" method="GET">
        <label>
            <p>Future Date</p>
            <input type="number" name="endyear" required>
        </label>

        <label>
            <p>BirthYear</p>
            <input type="number" name="birthyear" required>
        </label>

        <button>How old??</button>
    </form>
    
    {% if age is not None %}
        <p> Your age would be {{age}} by {{endyear}}!<p>
    {%endif%}
</body>
</html>